@page "/"

<div class="card-header">
    Добро пожаловать в информационную систему управления местным самоуправлением
</div>

<div class="alert alert-warning" role="alert">
    Система находится в тестовом состоянии
</div>

@code
{

}