<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<a class="navbar-brand" href="#">Система управления</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink href="Urban" class="nav-link">
                    Градостроительство
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="Architecture" class="nav-link">
                    Архитектура
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="Communal" class="nav-link">
                    Коммунальное хозяйство
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="Road" class="nav-link">
                    Дорожная деятельность
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="Handbook" class="nav-link">
                    Справочники и данные
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="Users" class="nav-link">
                    Пользователи
                </NavLink>
            </li>
        </ul>

		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
		</form>
	</div>
</nav>
