@using Lotus.Web;
@using Lotus.Web.Account;

@inject NavigationManager navigationManager
@inject CIdentityAuthenticationStateProvider authStateProvider

<div class="alert-info alert_account" role="banner">
    <div class="panel_account">
        <div class="panel_left">
            <span class="badge badge-primary badge_account">Пользователь</span>
            <span class="badge badge-light badge_account">Не авторизован</span>
        </div>
        <div class="panel_right">
            <button class="btn btn-primary m-1" @onclick="OnRegisterClick">Зарегистрироваться</button>
            <button class="btn btn-primary m-1" @onclick="OnLoginClick">Войти</button>
        </div>
    </div>
</div>

@code
{
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    public void OnLoginClick()
    {
        navigationManager.NavigateTo("/Account/Login");
    }

    public void OnRegisterClick()
    {
        navigationManager.NavigateTo("/Account/Register");
    }
}
